{% assign r = site.remark42 %}
{% if r.host and r.site_id %}
<script>
  var remark_config = {
    host: {{ r.host | jsonify }},
    site_id: {{ r.site_id | jsonify }},
    url: {{ site.url | append: page.url | jsonify }},
    {% if page.lang %}locale: {{ page.lang | jsonify }},{% endif %}
    max_shown_comments: 100,
    theme: 'light',
  };
</script>
<script>
  !(function (e, n) {
    for (var o = 0; o < e.length; o++) {
      var r = n.createElement('script'),
        c = '.js',
        d = n.head || n.body;
      'noModule' in r ? ((r.type = 'module'), (c = '.mjs')) : ((r.async = !0), (r.defer = !0)),
        (r.src = remark_config.host + '/web/' + e[o] + c),
        d.appendChild(r);
    }
  })(remark_config.components || ['embed'], document);
</script>
<div id="remark42"></div>
{% endif %}
