---
---

@import 'normalize';
@import 'breakpoints';
@import 'code-block';
@import 'list';

body {
  font-family: 'Funnel Display', sans-serif;
  color: #333;
  background-color: #f3f3f3;
}

a {
  all: unset;
  cursor: pointer;

  &:hover,
  &:active {
    text-decoration: underline;
    text-decoration-color: #333;
    text-underline-offset: 4px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;

  @include biggerThan(sm) {
    padding: 4rem 5rem 3rem;
  }
}

.page-footer {
  text-align: center;
  margin-top: 2rem;
}

.navigation-bar {
  font-size: 1.25rem;
  padding-bottom: 1.5rem;
}

.home-page {
  .home-layout {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;

    @include biggerThan(sm) {
      flex-flow: row nowrap;
    }

    .self-intro {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      height: 100%;
      width: 100%;
      margin-bottom: 1rem;

      @include biggerThan(sm) {
        width: 400px;
      }

      .name {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }

      .about {
        font-size: 1.2rem;
        color: #666;
      }
    }

    .main-content {
      flex: 1 1 auto;
      box-sizing: border-box;
      max-width: 1200px;

      @include biggerThan(sm) {
        padding: 0 2rem;
      }

      .post {
        margin: 1rem 0;
        padding-bottom: 1rem;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

        @include biggerThan(sm) {
          margin-top: 0;
          margin-bottom: 3rem;
        }

        .post-header {
          font-size: 1.5rem;
          font-weight: 700;
          margin-bottom: 1rem;
        }

        .post-meta {
          margin-bottom: 1rem;
          color: #666;
        }

        .post-content {
          color: #666;
          line-height: 130%;
        }
      }
    }
  }
}

.post-page {
  .post-layout {
    flex: 1 1 auto;
  }

  .post {
    .post-header {
      margin-bottom: 1rem;

      .post-title {
        font-size: 1.75rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }
    }

    .post-content {
      line-height: 150%;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-weight: 700;
        margin-top: 1.5rem;
        margin-bottom: 0.75rem;
      }
      p {
        margin-bottom: 1rem;
      }
    }

    /* Standard Blockquote Styling */
    blockquote {
      border-left: 4px solid #dddddd; /* The classic vertical grey bar */
      padding-left: 15px; /* Space between bar and text */
      margin-left: 0; /* Reset browser default indentation */
      margin-right: 0; /* Reset browser default indentation */
      color: #666666; /* Slightly lighter text color */
      font-style: italic; /* Optional: Italicize the text */
    }
  }
}

.page-layout {
  flex: 1 1 auto;

  .page-title {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}

.page-404 {
  line-height: 107%;
}
